.weather-widget {
  display: block;
  margin: 0 auto;
  margin-top: 220px;
  width: 805px;
}

.rounded {
  padding: 30px !important;
  border-radius: 1rem !important;
  height: 400px;
}

.main {
  position: relative;
  top: -21px;
}

.source-description {
  position: relative;
  top: -330px;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 11.5px;
  font-style: italic;
  font-weight: 400;
}

.main-city {
  margin: 0;
  padding: 5px;
  width: 370px;
  position: relative;
  top: -182px;
  font-family: "Birthstone Bounce", cursive;
  font-size: 55px;
  font-weight: 500;
  background: linear-gradient(
    0deg,
    rgba(54, 115, 255, 1) 7%,
    rgba(183, 41, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hour-date {
  margin: 0;
  width: 370px;
  position: relative;
  top: -173px;
  left: 4px;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 16px;
}

.main-temperature {
  margin: 0;
  position: relative;
  text-align: right;
  line-height: 1;
  top: 58px;
  right: 195px;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 700;
  font-size: 130px;
  color: #2d2e33;
  opacity: 0.95;
}

.main-icon {
  margin: 0;
  position: relative;
  top: -70px;
  right: -570px;
  font-size: 17.5px;
  font-weight: 700;
}

.real-main-icon {
  height: 62px;
}

.temperature-description {
  margin: 0;
  position: relative;
  top: -69px;
  right: -575px;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 11.5px;
}

.col-6 {
  width: 10%;
}

.next-days {
  width: 785px;
  position: relative;
  top: -150px;
  left: -30px;
  text-align: center;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 400;
}

.footer-box {
  height: 10px !important;
  padding: 18px !important;
  position: relative;
  top: -60px;
  border-top: 2px;
  border-top-color: grey;
  border-radius: 0px 0px 10px 10px !important;
  width: 805px;
}

.search-bar {
  position: relative;
  width: 747px;
  top: -13px;
  border: 0px;
  opacity: 0.85;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 15px;
  font-weight: 400;
  outline: none !important;
}
.line-bar {
  border-top: 2px solid grey;
  margin: 0;
  position: relative;
  top: -146px;
}

.extra-bar {
  position: relative;
  top: -149px;
  right: -658px;
  font-size: 21pt;
  border-right: 2px solid #d3d3d3;
  margin: 0;
}

.search-button {
  width: 38px;
  height: 38px;
  border-width: 0px;
  position: relative;
  top: -23px;
  left: 300px;
}

.search-icon {
  content: "";
  clear: both;
  position: relative;
  top: -78px;
  left: 612.3px;
  font-size: 18px;
  opacity: 0.6;
  pointer-events: none;
}

.default-button {
  position: relative;
  top: -110.5px;
  left: 636.3px;
  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 15px;
  width: 50px;
  margin: 0;
}

.default-real-button {
  border-style: none;
  width: 151px;
  height: 38px;
  border-radius: 0 0 10px 0;
  font-weight: 800;
  color: #6a6b6b;
}

body {
  background: rgb(82, 130, 244);
  background-image: -webkit-linear-gradient(
    60deg,
    rgba(218, 169, 215, 0.637),
    rgba(128, 174, 235, 0.904)
  );
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.Toggle {
  height: 30px;
  width: 95px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -541px;
  right: -650px;

  font-family: "Dosis", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 20px;
  font-weight: 750;
}

.Toggle input {
  opacity: 0;
  height: 32px;
  width: 76px;
}

.centigradesON {
  position: relative;
  left: -60px;
}

.farenheitON {
  position: relative;
  left: -49px;
}

.slider {
  position: relative;
  display: block;
  cursor: pointer;
  height: 32px;
  width: 200px;
  background: linear-gradient(
    90deg,
    rgba(183, 41, 255, 1) 8%,
    rgba(54, 115, 255, 1) 100%
  );
  transition: 0.4s;
  border-radius: 40px;
}

.slider:before {
  content: "";
  position: absolute;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  background-color: white;
  transition: 0.4s;
  top: 3.5px;
  left: 5px;
}

input:checked + .slider:before {
  transform: translateX(34px);
}

.Text-Systems {
  position: relative;
  top: -567px;
  left: 1242px;
  height: 20px;
  width: 50px;
  display: block;
  margin: 0px;
  content: "";
  pointer-events: none;
}
